#section__home {
    height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.753);
        /* Ajusta el valor de opacidad (0.5 en este caso) según tus preferencias */
    }

    &::after {
        content: "";
        background-image: url('../img/pexels-shvets-production-6980228.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    & #presentacion {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & h1,
        h3 {
            text-align: center;
            color: #ffffff;

            & span {
                color: red;
            }
        }
    }

}

#section__about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    flex-direction: column;
    padding-bottom: 200px;

    & h1 {
        margin-top: 50px;
        margin-bottom: 100px;
    }

    #card_container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        & .card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;



        }
    }



    & #description__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

        & #text__description {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            height: 200px;
        }



        & #table__data {
            width: 400px;
            height: 300px;
        }

    }

}

#section__projects {
    display: flex;
    height: 100vh;
    background-color: aliceblue;
}