@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;1,200;1,300&display=swap');

:root {
    --max: max-content;
    --vh: 100vh;
}

#section__home {
    height: 100vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.918);
        /* Ajusta el valor de opacidad (0.5 en este caso) según tus preferencias */
    }

    &::after {
        content: "";
        background-image: url('../img/pexels-shvets-production-6980228.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    & #presentacion {
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        & h1,
        h3 {
            text-align: center;
            color: #ffffff;

            & span {
                color: red;
            }
        }
    }

}

#section__about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--max);
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 100px;
    background: linear-gradient(rgb(255, 255, 255), rgb(194, 194, 194));

    & h1 {
        margin-top: 50px;
        margin-bottom: 100px;
        font-family: 'Exo';
    }

    #card_container {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-wrap: wrap;

        & .card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            transition: 1s;

            &:hover {
                transform: scale(1.1);
                transition: 1s;
            }





        }
    }

    & #description__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        flex-wrap: wrap;
        /* max-width: 480px; */

        text-align: center;


        & #text__description {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            height: 200px;
        }



        & #table__data {
            width: 500px;
            height: 400px;
            margin: 80px;
            padding: 10px;
        }

    }

}

#section__projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: var(--max);
    background: linear-gradient(rgb(194, 194, 194), rgb(65, 65, 65));

    & h1 {
        margin-bottom: 100px;
        font-family: 'Exo';
    }


    & #container__box {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;


        & .box__projects {
            transition: 2s;
            width: 300px;
            height: 200px;
            position: relative;
            z-index: 10;


            & img {
                position: absolute;
                z-index: 10;
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            & .ventana {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                transition: 2s;
                z-index: 100;

                &,
                i {
                    color: rgba(255, 255, 255, 0);
                    font-size: 50px;

                }

                &:hover {
                    transition: 1s;
                    background-color: rgba(255, 255, 255, 0.712);
                    cursor: pointer;

                    &,
                    i {
                        color: rgb(0, 0, 0);
                    }
                }
            }

        }
    }

}

#section__contact {
    height: 100vh;
    background: linear-gradient(rgb(65, 65, 65), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
        color: white;
        margin-bottom: 100px;
        margin-top: 100px;
        font-family: 'Exo';
    }

    & #container__form {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        border-radius: 20px;
        max-width: 600px;
        width: 100%
    }

    & #btn_submit {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#section__footer {
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 200px;
    align-items: center;
    flex-wrap: wrap;


    & #Logo_diseno {
        & #logo {
            width: 300px;
        }
    }

    & #Icons_copy {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 200px;

        & #copyrigth {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & #icons {
            display: flex;
            align-items: center;

            justify-content: space-between;
            width: 100%;


            &,
            i {
                font-size: 50px;
                padding: 20px;
            }
        }

    }


}

.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    z-index: 999;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.scroll-button.show {
    opacity: 1;
}

/* responsive  */

@media (max-width: 780px) {
    #container__form {
        max-width: 400px;
    }

    #table__data {
        max-width: 280px;
    }
}

@media (max-width: 480px) {
    #container__form {
        max-width: 200px;
    }
}